name: CI

on:
  pull_request:
    branches: [ "develop", "main" ]

jobs:
  django-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build docker
        run: docker compose build

      - name: Run isort
        run: docker compose run django poetry run isort . --check

      - name: Run black
        run: docker compose run django poetry run black . --check

      - name: Run flake8
        run: docker compose run django poetry run flake8

      - name: Run ls -al
        run: docker compose run django ls -al

      - name: Type check
        run: docker compose run django poetry run mypy --config mypy.ini src/restaurant_recommendation

      - name: Migration test database
        run: docker compose run django poetry run python src/manage.py migrate

      - name: Run Test
        run: |
          docker compose run django poetry run coverage report &&
          docker compose run django poetry run coverage run src/manage.py test &&
          docker compose run django poetry run coverage report --fail-under=80
